{% extends "layout.html" %}

{% block title %}
    Nextflow-G | Pipelines
{% endblock %}

{% block content %}
<div class="container" style="padding-left: 10px; padding-right: 10px;">
    <div class="row" style="padding-top: 5px">
        <h3>Pipeline installation</h3>
        <p> Please fill out this form for installing the pipeline in the system.</p>
        <hr/>
    </div>

    <div class="row">
        <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <div class="mb-3">
                <label for="pipeline_name" class="form-label">Pipeline Name</label>
                <input type="text" class="form-control" name="pipeline_name" placeholder="e.g) RNASeq" required>
            </div>
            
            <div class="mb-3">
                <label for="pipeline_version" class="form-label">Pipeline Version</label>
                <input type="text" class="form-control" name="pipeline_version" placeholder="e.g) v1.2, 1.2" required>
            </div>
            
            <div class="mb-3">
                <label for="pipeline_file" class="form-label">Pipeline code zip file(.zip)</label>
                <input class="form-control" type="file" name="pipeline_file" accept=".zip" required>
            </div>

            <div class="mb-3">
                <label for="pipeline_main_nf" class="form-label">Pipeline main file(.nf)</label>
                <input  type="text" class="form-control" name="pipeline_main_nf" accept=".nf" placeholder="e.g) some_path/main.nf or main.nf" required>
            </div>

            <div class="mb-3">
                <label for="pipeline_description" class="form-label">Description</label>
                <textarea class="form-control" name="pipeline_description" rows="2" required></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
            <a type="button" class="btn btn-primary" href="{{ url_for('pipelines.pipelines_list' )}}">Back</a>
        </form>
    </div>
</div>
{% endblock %}