{% extends "layout.html" %}

{% block title %}
    Nextflow-G | Pipelines
{% endblock %}

{% block content %}
<div class="container" style="padding-left: 10px; padding-right: 10px;">
    <div class="row" style="padding-top: 5px">
        <h3>Pipeline installation</h3>
        <p> Please fill out this form for installing the pipeline in the system.</p>
        <hr/>
    </div>

    <div class="row">
        <form method="post">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Pipeline Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g) RNASeq">
            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Pipeline Version</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g) v1.2, 1.2">
            </div>
            
            <div class="mb-3">
                <label for="formFile" class="form-label">Pipeline code zip file(.zip)</label>
                <input class="form-control" type="file" id="formFile">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
            <a type="button" class="btn btn-primary" href="{{ url_for('pipelines.pipelines_list' )}}">Back</a>
        </form>
    </div>
</div>
{% endblock %}