// Bulk-RNAseq parameter config files.

// Define work directory
workDir = '/data/tmp/nf'

// Define parameters
params {
    // set global params
    input_dir = '/data/fastq/'
    output_dir = '/data/RNAseq'
    library = 'Illumina'
    ref_ver = 'hg38'
    center = 'RnD'
    save_failed_trim = false
    // FASTP parameters
    fastp_params = "--trim_poly_g \
        --adapter_sequence=AGATCGGAAGAGCACACGTCTGAACTCCAGTCA \
        --adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT "
    // STAR parameters
    
}

// Define process
process {
    penv = 'smp'
    queue = 'all.q@ngsnode1'
    // Set output path
    withName: FASTP {
        publishDir = [
            path: { "${params.output_dir}" }, 
            mode: 'link', 
            overwrite: false
        ]
        container = "docker://star"
    }

    withLabel: 'standard' {
        cpus = 4                        // CPU 사용량
        memory = '8 GB'                 // 메모리 사용량
    }
    withLabel: 'high' {
        cpus = 16                        // CPU 사용량
        memory = '48 GB'                 // 메모리 사용량
    }
}